<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/bulb.png">
        <title> 404</title>
        <link rel="stylesheet" href="/css/style.css">   
    </head>

    <body>
<div class="main_content">
        {{>header}}
        <p>{{errormessage}}</p>
        <img src="/img/404.jpeg">
</div>

       {{>footer}}         
    </body>

</html>