<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/bulb.png">
               <title>
            About
        </title>
        <link rel="stylesheet" href="/css/style.css">   
 
    </head>

    <body>
<div class="main_content">
        {{>header}}
         <img class="portrait" src="/img/unicorn.jpg">
         <p>
             This project is contibuted to Unicorn.Ltd.
             Please goto our official site to get more information.  
         </p>
         <p><b>Site:</b>www.google.com</p>
       
</div>

       {{>footer}}         
    </body>

</html>