<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/bulb.png">
        <link rel="stylesheet" href="/css/style.css">   
        <title>
            Help
        </title>
    </head>

    <body>
        <div class="main_content">
       {{>header}}
        <p>
            Please report any queries or suggestions to the official site given in the About page 
            Thank you for using this site.
        </p>
        </div>
 
        {{>footer}}
    </body>

</html>
